<!--<button ng-click="vm.reloadData()" class="pull-right"><i class="icon-large icon-refresh"></i></button>-->
<!--<google-map></google-map>-->

<div class="row">
    <div class="current-state" ng-if="vm.deviceState">

        <span class="device-info">
            <span class="device-info-title">Label:</span> {{ vm.deviceState.label }} |
        </span>

        <span class="device-info">
            <span class="device-info-title">Speed:</span> {{ vm.deviceState.speed | number :2  }} |
        </span>

        <span class="device-info">
            <span class="device-info-title">Distance:</span> {{ vm.deviceState.distance | number: 3 }} KM |
        </span>

        <span class="device-info">
            <span class="device-info-title">Status:</span> {{ vm.deviceState.deviceStatus | limitTo: 1 }} |
        </span>

        <span class="device-info">
            <span class="device-info-title">DeviceDate:</span> {{ vm.deviceState.deviceDate.format('DD.MM.YY HH:mm:ss') }}
        </span>

    </div>
    <google-map ng-if="vm.loaded" responsive="vm.mapConfig"></google-map>
    <location-share></location-share>
</div>
