#content {
    padding-bottom: 0;
    min-height: 90%;
}

.google-map {
    width: 100%;
}

.container-fluid.dashboard {
    min-height: 100%;
}

.container-fluid.dashboard {
    padding: 0;
}

.container-fluid.dashboard .widget-content {
    padding: 0;
}

.container-fluid.dashboard .row-fluid:first-child {
    margin-top: 0;
}

.container-fluid.dashboard .row-fluid .span12 .widget-box {
    margin-top: 0;
}

.container-fluid.dashboard .widget-title .refresh-button {
    cursor: pointer;
}

.container-fluid.dashboard .widget-box {
    margin-bottom: 0;
}

span.device-info {
    color: #666;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
    float:left
}

.icon-crosshair:before {
    content: '\f05b';
    font-size: 20px;
}