.google-map {
    width: 100%;
}

.container-fluid.dashboard {
    padding: 0;
}

.container-fluid.dashboard .widget-content {
    padding: 0;
}

.container-fluid.dashboard .row-fluid:first-child {
    margin-top: 0;
}

.container-fluid.dashboard .row-fluid .span12 .widget-box {
    margin-top: 0;
}

.container-fluid.dashboard .widget-title .refresh-button {
    cursor: pointer;
}