body {
    padding-top: 50px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.device-info {
    width: 100%;
}

.device-info .device-info-title {
    font-weight: bold;
}

.current-state {
    background-color: #222;
    border-color: #080808;
    color: #ccc;
    position: absolute;
    bottom: 0;
    z-index:1000;
    width: 100%;
}


.icon-crosshair:before {
    content: '\f05b';
    font-size: 20px;
}

.fixed-location-share {
    position: fixed;
    z-index: 99999999;
    top: 0;
    right: 0;
    color: white;
    background: #101010;
    padding: 15px;
}